:root {
    --tamanho-botao: 1.5rem;
    --cor-fundo: #fa8072;
    --fonte-cor-padrao: #ffc3ac;
    --rosa-branco: #ffd0d0;
    --rosa-forte: #ee6d6d;
    --branco: #fff;
    --fonte-cor-cartao: #f87668;
}