@media screen and (min-width: 0px) {
    
    .botao {
        height: 4rem;
        margin: .6rem;
    }

    .cabecalho__borda {
        padding: 4.5rem 0;
    }

    .cabecalho__descricao {
        text-align: center;
    }

    .principal__menu {
        align-items: center;
        flex-direction: column;
        padding: .6rem 0;
        width: 100%;
    }

    .principal__cardapio {
        flex-direction: column;
        width: 80%;
    }

    .cardapio__cartao {
        margin-left: .7rem;
        overflow: hidden;
        width: 90%;
    }

    .cardapio__cartao:hover, .cardapio__cartao:focus {
        transform: none;
    }

    .principal__tabela-total {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
        width: 100%;
    }

    .tabela-total {
        font-size: 1.4rem;
        grid-column: 1;
    }

    td, th {
        padding: 0.5rem;
    }

    .principal__observacao {
        font-size: 1rem;
        grid-column: 1;
        margin: 1rem auto;
    }

    .principal__pagamentos {
        grid-column: 1;
    }

    .principal__pagar, .principal__voltar {
        justify-self: center;
        grid-column: 1;
    }

    .pagamentos__pagamento--pix {
        margin-right: 2rem;
        padding: 1rem;
        width: 50%;
    }

    .pagamentos__pagamento--credit-card {
        width: 60%;
    }

    .principal__pagar {
        grid-row: 4;
    }

    .principal__voltar {
        grid-row: 5;
    }

    .modalDialog div {
        width: 22rem;
    }
}

@media screen and (min-width: 768px) {

    .botao {
        height: 3.5rem;
        margin: .6rem;
    }

    .principal__menu {
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    .principal__cardapio {
        flex-direction: row;
    }

    .cardapio__cartao {
        width: 42%;
    }

    .tabela-total {
        font-size: 2rem;
    }

    th, td {
        padding: 1rem;
    }

    .principal__observacao {
        font-size: 1.4rem;
    }

    .pagamentos__pagamento--pix {
        width: 34%;
    }

    .pagamentos__pagamento--credit-card {
        width: 48%;
    }

    .modalDialog div {
        width: 25rem;
    }
}

@media screen and (min-width: 992px) {
    .cabecalho__borda {
        padding: 2.5rem 4rem;
    }

    .cabecalho__descricao {
        text-align: none;
    }

    .principal__menu {
        width: 50%;
    }

    .principal__cardapio {
        width: 70%;
    }

    .cardapio__cartao {
        width: 30%;
    }

    .cardapio__cartao:hover, .cardapio__cartao:focus {
        transform: scale(1.05);
    }

    .cardapio__cartao:nth-child(5) .cartao__titulo {
        line-height: 1.8rem;
    }

    .cartao__checkbox-customizado {
        width: 50%;
    }

    .principal__tabela-total {
        grid-template-columns: auto auto;
        grid-template-rows: repeat(4, auto);
        width: 55%;
    }

    .tabela-total {
        grid-column: span 2;
    }

    .principal__observacao {
        grid-column: span 2;
        margin: 1rem;
    }

    .principal__pagamentos {
        grid-column: span 2;
    }

    .pagamentos__pagamento--pix {
        margin-right: 1rem;
        width: 30%;
    }

    .pagamentos__pagamento--credit-card {
        width: 40%;
    }

    .principal__voltar {
        grid-column: 1;
        grid-row: 4;
        justify-self: end;
    }

    .principal__pagar {
        grid-column: 2;
        justify-self: unset;
    }
}

@media screen and (min-width: 1200px) {
    .cardapio__cartao {
        margin: 0.625rem;
        max-height: 24.7rem;
        width: 26%;
    }

    .cartao__imagem {
        height: 45%;
        max-height: 10rem;
        width: 100%;
    }

    .cartao__checkbox-customizado {
        height: 40%;
        width: 36%;
    }

    .cardapio__cartao:nth-child(5) .cartao__titulo {
        line-height: 1.5rem;
    }
}

@media screen and (min-width: 1363px) {
    .cardapio__cartao:nth-child(5) .cartao__titulo {
        line-height: 3.6rem;
    }

    .principal__tabela-total {
        width: 50%;
    }

    .pagamentos__pagamento--pix {
        width: 25%;
    }

    .pagamentos__pagamento--credit-card {
        width: 28%;
    }
}

